<div>
  {% if room_count != 0 %} {% for room in rooms %}
  <div class="room">
    {% if room.host.username %}
    <small
      ><a href="{% url 'profile' room.host.id %}" class="host-username"
        >@{{room.host.username}}</a
      ></small
    >
    ><br />
    {% endif %}
    <h3>Room: <a href="{% url 'room' room.id %}">{{room.name}}</a></h3>
    <h5>Topic: {{room.topic.name}}</h5>
    <p class="description">{{room.description}}</p>
    {% if request.user == room.host %}
    <span class="span">
      <a href="{% url 'update-room' room.id %}" class="edit">Edit</a>
      <a href="{% url 'delete-room' room.id %}" class="delete">Delete</a>
      {% endif %}
    </span>
  </div>
  {% endfor %}{% endif %}
</div>
