{% extends 'main.html' %} {% block content %}

<div class="home-container">
  <div class="sidebar fixed-sidebar">
    {% include 'base/topics_component.html' %}
  </div>

  <div class="middlebar">
    <div class="middleheader">
      <h3>{{room_count}} rooms available</h3>
      <a href="{% url 'create-room'%}" class="create-room"> Create Room</a>
    </div>
    <hr>
    {% include 'base/feeds_component.html' %}
  </div>
  <div class="rightbar">{% include 'base/activiity.component.html'%}</div>
</div>
{% endblock content %}
