{% extends 'main.html' %} {% block content %} {% if page == 'login' %}
<div class="login-box">
  <h2>Login</h2>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="user-box">
      <label>Username</label>
      <input type="text" name="username" required="" placeholder="Username" />
    </div>
    <div class="user-box">
      <label>Username</label>
      <input type="password" name="password" placeholder="Password" />
    </div>
    <div class="wrap">
      <input type="submit" value="login" class="button" />
    </div>
  </form>
  <small>Do you want to create accout?</small>
  <small><a href="{% url 'register' %}">Sign up</a></small>
</div>
<!-- <div class="log_session">
  <form method="POST" action="">
    
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username" />

    <label for="password">Password</label>
    <input type="password" placeholder="Enter password" name="password" />

    <input type="submit" value="login" class="submit" />
  </form>
  <p>Do you want to create accout?</p>
  <a href="{% url 'register' %}">Sign up</a>
</div> -->
{% else %}
<div>
  <form method="POST" action="">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" value="register" />
  </form>
  <p>You already have accout?</p>
  <a href="{% url 'login' %}">Sign in</a>
</div>
{% endif %} {% endblock content %}
