{% extends 'main.html' %} {% block content %} {% if page == 'login' %}
<div class="log_session">
  <form method="POST" action="">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username" />

    <label for="password">Password</label>
    <input type="password" placeholder="Enter password" name="password" />

    <input type="submit" value="login" class="submit" />
  </form>
  <p>Do you want to create accout?</p>
  <a href="{% url 'register' %}">Sign up</a>
</div>
{% else %}
<div>
  <form method="POST" action="">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" value="register" />
  </form>
  <p>You already have accout?</p>
  <a href="{% url 'login' %}">Sign in</a>
</div>
{% endif %} {% endblock content %}
